{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <title>Browsable CSV</title>
</head>
<body>
    <h1>CSV Data</h1>
    <table>
        <thead>
            <tr>
                {% for col in columns %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for col in columns %}
                        <td>{{ row|small:col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
