<a href="{% url 'student:stu_application_form' %}">Student Application</a><br>
<a href="{% url 'student:stu_reg' %}">Student Registration</a><br>
<a href="{% url 'authentication:stu_login' %}">Student Login</a><br>
<a href="{% url 'staff:staff_reg' %}">Staff Registration</a><br>
<a href="{% url 'authentication:staff_login' %}">Staff Login</a><br>

<a href="{% url 'college:download_users_csv' %}">Download Users Data</a>


<br><hr><br>
<a href="{% url 'college:browse_csv' %}">Browse csv file</a><br><br>
<a href="{% url 'college:upload_csv' %}">Upload csv and use browsable csv</a>